nav button {
    color: white;
    border: 2px solid black;
    border-radius: 2rem;
    padding: 20px 40px;
    font-size: 2rem;
    background: none;
    font-family: "Vegawanty";
    width:200px;
}
nav button:hover {
    background-color: rgba(0,0,0,0.3);
}
nav a{
    width:70px;
}