textarea{
    border-radius: 2rem;
    border: none;
    padding:10px;
    height:200px;
    width:400px;
    font-family:'Georgia';
    font-size:1rem;
    resize: none;
}
.writingWrapper textarea {
    width:600px;
}
