textarea{
    border-radius: 2rem;
    border: none;
    padding:10px;
    height: 240px;
    width: 420px;
    font-family:'Georgia';
    font-size:1rem;
    resize: none;
}
.writingWrapper textarea {
    width:550px;
}
