nav {
    display:flex;
    justify-content: space-between;
    padding:20px 40px;
    gap:15px;
    background-color:rgba(255,255,255,0.5);
    height:40px;
    margin-bottom:25px;
    align-items: center;
}

//"ai lengua"
nav h1{
    font-size:4rem;
    color:black;
    font-family:'Vegawanty'
}
nav h1 span {
    font-weight:bolder;
    font-size:3.5rem;
    font-family:'Migha'
}
nav section {
    display:flex;
    gap:25px;
}

nav h2 {
    font-size: 2rem;
    color: black;
    width: 250px;
    font-family: "Vegawanty";
}
nav ul{
    display:flex;
    gap:25px;
}