.hamburger-menu {
    background:transparent;
    border:none;
}
.primaryButton{
    color: $blue;;
    background: none;
    border: 2px solid $dark-grey;
    border-radius: 2rem;
    font-size: 1rem;
    padding:15px;
}