.homepage {
    background-image:url('../../../public/images/background.jpg');
    background-position:cover;
    background-position:right;
    height:100vh;
}
//container
.wordOfDay{
    margin-top:-90px;
    padding-left:40px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
//"word of the day"
.wordOfDay h1{
    font-size:3rem;
    color:white;
    font-family:"Vegawanty";
    font-weight:bolder;
   
}
//display of word
.wordOfDay h2 {
    font-size:2rem;
    color:white;
    font-family:"Vegawanty";
    border-bottom:2px solid black;
}
//word of day and search png
.wordOfDay div {
    display:flex;
    align-items: center;
    gap:15px;
    cursor:pointer;
}
//definition that appears on search
.wordOfDay p{
    width:300px;
    font-size:1rem;
    background-color:white;
    padding:20px;
    border-radius:2rem;
    margin-top:20px;
}
//translate container
.translate{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:auto;
    max-width:600px;
}
//where the translation appears
.translate p{
    height:220px;
    width:400px;
    background-color:white;
    border-radius:2rem;
}
//wrapper holding the text to be translated and the translation
.translateWrapper{
    display:flex;
    align-items:center;
    padding-top:20px;
}
//Translation
.translate h2 {
    color: white;
    font-size: 1.4rem;
    font-family: "Vegawanty";
    margin-right: 20px;
    font-weight: 600;
    /* margin-bottom: 10px; */
}
.translationAudio {
    display:flex;
}
//submit button translation
.translate button {
    margin-top:20px;
    color:white;
    background:none;
    border:2px solid black;
    border-radius:2rem;
    font-size:1rem;
    font-family:'Times New Roman', Times, serif
}
/* h2.translation{
    margin-bottom:15px;
} */