/* .homepage {
    background-image:url('../../../public/images/background.jpg');
    background-position:cover;
    background-position:right;
    height:100vh;
} */
//container
.wordOfDay{
    padding-left:40px;
    display:flex;
    flex-direction: column;
    align-items: center;
    top: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    max-width:350px;
}
//"word of the day"
.wordOfDay h1{
    font-size:3rem;
    color:white;
    font-family:"Vegawanty";
    font-weight:bolder;
   
}
//display of word
.wordOfDay h2 {
    font-size:2rem;
    color:white;
    font-family:"Vegawanty";
    border-bottom:2px solid $blue;
}
//word of day and search png
.wordOfDay div {
    display:flex;
    align-items: center;
    gap:15px;
    cursor:pointer;
}
//definition that appears on search
.wordOfDay p{
    width:300px;
    font-size:1rem;
    background-color:white;
    padding:20px;
    border-radius:2rem;
    margin-top:20px;
}
//translate container
.translate{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:auto;
    max-width:600px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 2rem;
    padding:20px;
}
//where the translation appears
.translate p{
    height:220px;
    width:420px;
    background-color:white;
    border-radius:2rem;
    padding: 20px;
}
//wrapper holding the text to be translated and the translation
.translateWrapper{
    display:flex;
    justify-content: center;
    align-items:center;
    padding-top:20px;
    margin-top:75px;
}
//Translation
.translate h2 {
    color: white;
    font-size: 1.4rem;
    font-family: "Vegawanty";
    margin-right: 20px;
    font-weight: 600;
     margin-bottom: 10px; 
}
.translationAudio {
    display:flex;
    gap:20px;
}
@keyframes rotate {
    from{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(360deg)
    }
}
.loadingIcon{
    animation:rotate 2s linear infinite
}
.generateAudio h6 {
    color:white
}
.generateAudio {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
//submit button translation
.translate button {
    color:white;
    background:none;
    border:2px solid white;
    border-radius:2rem;
    font-size:1.3rem;
    font-family:'Times New Roman', Times, serif;
    width:120px;
    height:50px;
    margin-top:10px;
}
.translate button:hover {
    color:black;
    background-color:white;
    cursor:pointer;
}
audio{
    margin-top:10px;
}
.writingWrapper {
    display:flex;
    background-color:rgba(0,0,0,0.5);
    width:900px;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    border-radius:2rem;
    gap:20px;
}
.writingWrapper button{
    width: 150px;
    background: none;
    border-radius: 2rem;
    color: white;
    border: 2px solid black;
    font-size: 1.3rem;
    height:60px;
    font-family:"Vegawanty";
    margin-bottom:20px;
}
.writingWrapper button:hover{
    background-color:rgba(0,0,0,0.3);
}
.writingWrapper p {
    color: black;
    font-family: "Georgia";
    padding: 10px;
    border-radius: 0.5rem;
    background-color: white;
    
}

.prompt, .grammarCheck  {
    width:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textWrapper {
    display:flex;
    align-items: center;;
}