@import "utilities/variables";
@import "base/reset";
@import "sections/all";
@import "components/all";
@import "layout/all";

@font-face {
    font-family: 'Vegawanty';
    src:   local("Vegawanty"),
    url(../../public/fonts/VegawantyRegular.ttf) format("truetype");
}
@font-face {
    font-family: 'Migha';
    src:   local("Migha"),
    url(../../public/fonts/Migha.ttf) format("truetype");
}