@import "utilities/variables.scss";
@import "base/reset";
@import "layout/layout";
@import "components/all";
@import "layout/layout.desktop";
@font-face {
    font-family: 'Vegawanty';
    src:   local("Vegawanty"),
    url(../../public/fonts/VegawantyRegular.ttf) format("truetype");
}
@font-face {
    font-family: 'Migha';
    src:   local("Migha"),
    url(../../public/fonts/Migha.ttf) format("truetype");
}